

.App {
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:80px;
  background: white;
  position:fixed; 
  width: 100%;
  z-index: 9;
  bottom:0;
}
.app-header a {
  display: flex;
  flex:1;
  justify-content: center;
  height:100%;
  align-items: center;
}
.app-header .active {
  background: #3287f5;
}
.active .fa {
  color:white;

}
.fa {
  font-size: 30px;
  color: black;
}

.action-btn {
  padding: 5px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.user-input {
  padding: 5px;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid;
}